* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: #081F32;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header  */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__row,
.checkin__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    
}

.nav__item {
    margin: 0 20px;
}

.logo {
    animation: move 5s infinite;
}
/* @keyframes move {
    0% {transform: rotateY(0);}
    50% {transform: rotateY(45deg);}
    100% {transform: rotateY(0deg);}
} */

@keyframes move {
    0% {transform: scale(1);}
    50% {transform: scale(1.2,1.2);}
    100% {transform: scale(1);}
}

.nav__link {
    font-family: 'Gelasio';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#081F32;
}

.nav__link:hover {
    color:#6642f5;
}

.nav__link--active,
.first-section__title--active,
.first-section__subtitle--active,
.holidays__subtitle--active {
    color: #1B75BB;
}

.book {
    padding: 15px 30px ;
    text-decoration: none;
    display: inline-block;
    background: #1B75BB;
    border-radius: 5px;
    color: #fff;
    font-family: 'Gelasio';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    width: 13.4rem;
    height: 5.4rem;
}

.book:hover {
    color:#e9e6f2;
}

/* checkin */

.checkin__row {
    max-width: 687px;
    padding: 20px 50px;
    background-color: rgba(225, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position:relative;
    top: -200px;
    
}

.checkin__title {
    font-family: 'Roboto';
    font-size: 16px;   
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

.checkin__text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: rgba(8, 31, 50, 0.6);
    margin-top: 1rem;    
}

.checkin__block:before {
    
    content: "";
    position: absolute;
    top: 30px;
    left: 170px;
    bottom: 40px;
    width: 22%;
    border: 2px solid #9DACB8;
    border-top: none;
    border-bottom: none;
    z-index: 1;

}

.first-section__link,
.checkin__link,
.holidays__link {
    width: 13.8rem;
    height: 5.4rem;
    background-color:#1B75BB;
    border-radius: 5px;
    padding: 15px 30px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #fff;
    border: 0;
}

.checkin__link:hover {
    color:#e9e6f2;
}

.checkin__button {
    width: 111px;
}
.uppercase {
    text-transform: uppercase;

}
/* first-section */

.first-section {
    background-image: url("../images/main-bg.jpg");
    background-size: cover;
    min-height: 690px;
    padding: 22rem 0 0;
    margin-bottom: 15rem;    
}

.first-section__title {
    font-size: 5.7rem;
    max-width: 45.6rem;
    margin: 0 0 2rem;    
}

.first-section__subtitle {
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.1em;
text-align: left;
}

.first-section__text {
    font-size: 1.8rem;
    max-width: 34.7rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 3rem;
    color: rgba(8, 31, 50, 0.6);
}

.first-section__link:hover {
    color:#e9e6f2;
}

/* holidays */
.holidays {}

.holidays__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holidays__imgs {
    position: relative;
}

.holidays__img--main {
    position: relative;
    z-index: 1;
}

.holidays__img--sec {
    position: absolute;
    top: -43px;
    right: -50px;
}

.holidays__img--ripples {
    position: absolute;
    left: -30px;
    bottom: -50px;
}

.holidays__button {
    width: 6.9rem;
    height: 5.6rem;
}
.holidays__content {
    max-width: 43rem;
}

.holidays__subtitle {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0.1em;
}
.holidays__title {
    font-family: 'Gelasio';
    font-size: 32px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    margin-bottom: 3rem;
}

.holidays__link:hover {
    color:#e9e6f2;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    
}

@media screen and (max-width: 776px) {

    .first-section-title {
        font-size: 4.7rem;
    }
    .holidays-img-main,
    .holidays-img-sec,
    .holidays-img-ripples {
        max-width: 40rem;
    }
    .section-subtitle {
        font-size: 1.5rem;
    }
    .holidays-title {
        font-size: 2.4rem;
    }
    .holidays-content {
        max-width: 25rem;
    }

}

@media screen and (max-width: 425px)  {

    .first-section-title {
        font-size: 2.7rem;
    }
    .holidays-img-main,
    .holidays-img-sec {
        max-width: 25rem;
    }

    .holidays-img-ripples {
        max-width:10rem;
    }

    .logo {
        width:10rem;
    }

    .aside-row {
        padding: 5px 5px;
    }

    .nav-item {
        margin: 0 5px;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    button {
        max-width: 8.8rem;
        max-height: 3.4rem;
        font-size: 12px;
    }
    
    .book {
        max-width: 9.5rem;
        max-height: 3.4rem;
        font-size: 12px;
        padding: 1px 1px;
        
    }

    .first-section {
        padding: 10rem 0 0;
    }

    .aside-row {
        position: relative;
        top:-480px;
    }
}